<% if @data.empty? or rows.empty? %>
    <p><i><%=l(:quarter_no_data)%></i></p>
<% else %>
<table class="list issues">
    <tr>
	<th><%= l(:quarter_full_name) %></th>
	<th><%= l(:quarter_assigned) %></th>
	<th><%= l(:quarter_closed) %></th>
	<th><%= l(:quarter_canceled) %></th>
	<th><%= l(:quarter_ends) %></th>
	<th><%= l(:quarter_kpi) %></th>
    </th>
  <% for row in rows %>
	<tr class="<%= cycle("odd", "even") %>">
	<td class="name"><%= link_to h(row.name), aggregate_path(@project, field_name, row) %></td>
<!-- Назначено на пользователя -->
    <td><%= aggregate_link data, { field_name => row.id }, aggregate_path(@project, field_name, row, { :due_date => period.first, :due_date => period.last }) %></td>
<!-- closed --> 
    <td><%= aggregate_link data, { field_name => row.id, "closed" => 1 }, aggregate_path(@project, field_name, row, { :status_id => "c", :closed_on => period.first, :closed_on => period.last}) %></td>
<!-- canceled --> 
    <td><%= aggregate_link data, { field_name => row.id, "closed" => 1 }, aggregate_path(@project, field_name, row, {:status_id => 6, :closed_on => period.first, :closed_on => period.last}) %></td>
<!-- open -->
    <td><%= aggregate_link data, { field_name => row.id, "closed" => 0 }, aggregate_path(@project, field_name, row, {:status_id => "o", :due_date => period.first, due_date => period.last}) %></td>
<!-- предыдущая версия -->
    <td><%= aggregate_link data, { field_name => row.id, "closed" => 0 }, aggregate_path(@project, field_name, row, :status_id => "o") %></td>
    <td><%= aggregate_link data, { field_name => row.id, "closed" => 0 }, aggregate_path(@project, field_name, row, :status_id => "o") %></td>
    <td><%= aggregate_link data, { field_name => row.id, "closed" => 1 }, aggregate_path(@project, field_name, row, :status_id => "c") %></td>
    <td><%= aggregate_link data, { field_name => row.id }, aggregate_path(@project, field_name, row, :status_id => "*") %></td>
    <td><%= @res_to_table[period[:id]][row.id][:kpi] %></td> 
	</tr>    
  <% end %>
</table>
<% end 
 reset_cycle %> 