<% if data.empty? or rows.empty? %>
    <p><i><%=l(:quarter_no_data)%></i></p>
<% else %>
<table class="list issues">
    <tr>
	<th><%= l(:quarter_full_name) %></th>
	<th><%= l(:quarter_assigned) %></th>
	<th><%= l(:quarter_closed) %></th>
	<th><%= l(:quarter_canceled) %></th>
	<th><%= l(:quarter_opened) %></th>
	<th><%= l(:quarter_kpi) %></th>
    </th>
    
    <% for row in rows %>
	<tr class="<%= cycle("odd", "even") %>">
	<td class="name"><%= link_to h(row.name), aggregate_path(@project, field_name, row) %></td>

    <%
     assigned = aggregate_filter @project, data, { :assigned_to_id => row.id, :name => "assigned" }
     %>
     <%
     closed =  aggregate_filter @project, data, { :assigned_to_id => row.id, :name => "closed" }
     %>
     <% 
     canceled =  aggregate_filter @project, data, { :assigned_to_id => row.id, :name => "canceled" }
     %>
     <% 
      opened = aggregate_filter @project, data, { :assigned_to_id => row.id, :name => "opened" }
     %>
     <%
     kpi = aggregate data, { :assigned_to_id => row.id, :name => "kpi" } 
    %>
     <td><%= assigned.html_safe %></td>
     <td><%= closed.html_safe %></td>
     <td><%= canceled.html_safe %></td>
     <td><%= opened.html_safe  %></td>
     <td><%= kpi %></td>
  </tr>    
  <% end %>
</table>
<% end 
 reset_cycle %> 